body{
    font-family: "IBM Plex Mono", monospace;

}

.container {
    margin-left: 60px;
    margin-bottom: 4%;
   
}

.logo { 
    font-size: 50px; 
    background-color: yellow;
    width: 60px;
    height: 60px;
    text-align: center;
    font-weight: bolder;
    
}

.header h1{
    font-weight: bolder;
    font-size: 30px;
}

.header h2{
    color: darkgray;
}

.header { 
    margin-top: 45px;
    display: flex; 
    flex-direction: row; 
    align-items: center;  } 

.profile-pic { 
    margin-right: 25px; 

}

.summary {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    float: left;
    align-items: center;

}

.content-start {
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    width: 2000px;

}

.card {
    margin-top: 40px;

}

.main-content {
    display: flex;
    
}

.description {
    display: flex;
    text-align: space-between;
}

.education {
    margin-left: 100px;
}

.education h3{
    font-weight: bolder;
    font-size: 22px;
}

.education .Achievements{

}

.job-title {
    font-weight: bolder;
    font-size: 22px;
    
}

.job-company {
    color: darkgrey;
    margin-bottom: 7px;
}

.date-location {
    display: inline-block;
    background-color: #c5cfd9;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
}


